@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:ital,wght@0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  background: #f3e2c7; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #f3e2c7 0%,
    #c19e67 18%,
    #c19e67 18%,
    #f3e2c7 19%,
    #c19e67 36%,
    #f3e2c7 40%,
    #c19e67 45%,
    #c19e67 45%,
    #f3e2c7 46%,
    #c19e67 48%,
    #f3e2c7 54%,
    #c19e67 56%,
    #f3e2c7 68%,
    #f3e2c7 71%,
    #c19e67 73%,
    #c19e67 73%,
    #e9d4b3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f3e2c7 0%,
    #c19e67 18%,
    #c19e67 18%,
    #f3e2c7 19%,
    #c19e67 36%,
    #f3e2c7 40%,
    #c19e67 45%,
    #c19e67 45%,
    #f3e2c7 46%,
    #c19e67 48%,
    #f3e2c7 54%,
    #c19e67 56%,
    #f3e2c7 68%,
    #f3e2c7 71%,
    #c19e67 73%,
    #c19e67 73%,
    #e9d4b3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f3e2c7 0%,
    #c19e67 18%,
    #c19e67 18%,
    #f3e2c7 19%,
    #c19e67 36%,
    #f3e2c7 40%,
    #c19e67 45%,
    #c19e67 45%,
    #f3e2c7 46%,
    #c19e67 48%,
    #f3e2c7 54%,
    #c19e67 56%,
    #f3e2c7 68%,
    #f3e2c7 71%,
    #c19e67 73%,
    #c19e67 73%,
    #e9d4b3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 ); /* IE6-9 */
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 8rem;
  margin: 2.5rem;
  line-height: 150%;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
  margin: 2rem;
  line-height: 135%;
}

h3 {
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  margin: 2rem;
  padding-right: 1rem;
  display: inline;
  line-height: 250%;
}

p {
  text-indent: 18px;
  line-height: 155%;
  width: 25em;
  font-family: "Montserrat", sans-serif;
}

header {
  padding-bottom: 1rem;
  margin-top: 4rem;
  border-right: 3px solid black;
  height: 50%;
}

a {
  text-decoration: none;
  color: rgba(19, 19, 19, 0.623);
}

.page-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1900px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  height: 50%;
}

.summary {
  border-right: 3px solid black;
  margin-top: 12rem;
  padding-top: 3rem;
}

.preamble {
  border-right: 3px solid black;
  margin-top: 15rem;
  width: 35em;
}

.summary,
.preamble {
  margin-left: 5rem;
}

#zen-supporting {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.explanation,
.participation,
.benefits,
.requirements {
  padding-top: 3rem;
  padding-right: 3rem;
  padding-left: 5rem;
}

.design-selection,
.design-archives,
.zen-resources {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10rem;
  margin-bottom: 5rem;
  margin-right: 13rem;
  padding-bottom: 2rem;
  list-style-position: inside;
  text-align: center;
  align-items: center;
  border: 3px solid black;
}

footer {
  display: grid;
  grid-template-rows: 1fr;
  margin-right: 17rem;
  margin-left: 13rem;
  text-align: center;
  border: 3px solid black;
}
