@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #cb60b3 0%,
    #ca74f2 14%,
    #ca74f2 14%,
    #6ccbe2 28%,
    #c146a1 50%,
    #a80077 51%,
    #ca74f2 72%,
    #db36a4 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #cb60b3 0%,
    #ca74f2 14%,
    #ca74f2 14%,
    #6ccbe2 28%,
    #c146a1 50%,
    #a80077 51%,
    #ca74f2 72%,
    #db36a4 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #cb60b3 0%,
    #ca74f2 14%,
    #ca74f2 14%,
    #6ccbe2 28%,
    #c146a1 50%,
    #a80077 51%,
    #ca74f2 72%,
    #db36a4 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1,
h2,
h3 {
  font-family: "Open Sans Condensed" sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 145%;
  word-spacing: 18px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 145%;
  word-spacing: 18px;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 145%;
  word-spacing: 18px;
}

p {
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
